[user]
	name = glc12125
	email = Liangchuan Gu
[filter "media"]
	required = true
	clean = git media clean %f
	smudge = git media smudge %f
[merge]
	tool = emerge
[mergetool "vimdiff"]
	cmd = emerge "$BASE" "$LOCAL" "$REMOTE" "$MERGED"
	trustExitCode = false
[core]
	excludesfile = /Users/liangchuangu/.gitignore
[alias]
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	lga = log --graph --branches --remotes --tags --decorate --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	cdiff = diff-tree --no-commit-id --name-only -r
